@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .shadowed {
    box-shadow: none !important;
  }
  .main-app {
    background-color: white;
  }
  button.preview,
  button.print,
  .main-header {
    display: none;
  }
}

@font-face {
  font-family: headerFont;
  src: url("./assets/MerriweatherSans-VariableFont_wght.ttf");
}

html {
  font-size: 80%;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}

.shadowed {
  box-shadow: 0px 0px 10px 1px hsl(213, 27%, 44%);
}

.header-text {
  font-family: headerFont;
  font-size: 1.2em;
}

@media screen and (max-width: 400px) {
  .header-text {
    font-size: 0.9em;
  }
}

.form-element input,
.form-element textarea {
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
  background-color: hsl(0, 0%, 99%);
}

button {
  width: 100%;
  padding-block: 0.5rem;
  border-radius: 0.2rem;
  color: white;
}

.form-element input:focus,
.form-element textarea:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0.1rem 0.2rem hsl(211, 99%, 65%);
}

.form-element h2 {
  font-weight: bold;
  color: #1d4ed8;
  font-size: 1.2rem;
}

.content-grid {
  grid-template-columns: 1fr 120px;
}

@media (min-width: 400px) {
  .content-grid {
    grid-template-columns: 1fr 150px;
  }
}

@media (min-width: 600px) {
  .content-grid {
    grid-template-columns: 1fr 250px;
  }
}

.previewed .header {
  background-color: #1d4ed8;
}
.previewed h3 {
  color: #1d4ed8;
  font-size: 1.1rem;
}

.previewed h3:not(:first-of-type),
.previewed h3:only-of-type {
  margin-top: 0.5rem;
}

.previewed hr {
  margin-bottom: 0.7rem;
  border-top: 1.5 px solid hsl(224, 76%, 28%);
}

.previewed h4 {
  font-weight: 500;
}

.degree {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem;
}

.break-wordss {
  hyphens: auto;
}

button:focus,
button:focus-visible {
  outline: none;
}

/* For the loader */
.ld-ext-right > .ld {
  position: unset;
  margin: unset;
  margin-left: 4px;
}
